header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, red, blue);
    padding:5px;
}
header nav a{
    text-decoration: none;
    margin-left: 200px;
    font-size: 20px;
    color: white;
}
header nav a:hover{
    background-color: white;
    color:black;
    padding:3px;
}
header img{
    border-radius: 50%;
}
.banner{
    margin-left: 330px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    width:900px;
    background-color: black;
    color: white;
}
.banner div p{
    font-size: 20px;
}
.banner div img{
    height:300px;
}
.banner button{
    width:200px;
    border-radius: 10px;
    font-weight: bold;
    padding:5px;
}
@media(max-width: 900px){
    body{
        width:500px;
    }
     header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     .banner{
        margin-left: 100px;
        width:360px;
        display: flex;
        flex-direction: column;
     }
     .banner img{
        width:300px;
        margin-top: 10px;
     }
     

    
}